<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NinaPagerView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>768240991BF5D32700788E48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>768240B21BF5D32700788E48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>768240BD1BF5D32700788E48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76CEDFD51CBF79370074765F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76CEDFDE1CBF79370074765F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
